.grey-bubble-container {
  background-color: #ECECEC;
  width: 70%;
  height: 20vh;
  margin: auto;
  border-radius: 40px;
  text-align: center;
  vertical-align: super;
  line-height: 20vh;
  display: flex;
  box-shadow: 3px 4px grey;
  margin-top: 1.3%;
  margin-bottom: 5%;
}

.welcome-text {
  font-size: 2.5vh;
  font-weight: 300300300;
  color: #000000;
  font-family: "Happy Monkey";
  margin-top: 3.5%;
  margin-left: 16%;
}

.book-image-container {
  width: 20%;
}

.book-title-container {
  width: 40%;
}

.new-info-container {
  width: max(15%, 200px);
  width: 20%;
  display: flex;
}

.total-info-inner-container {
    width: 100%;
    height: 60%;
    margin: auto;
}

.new-info-inner-container {
    width: 100%;
    height: 60%;
    margin: auto;
}

.total-info-container {
  width: max(15%, 200px);
  display: flex;
}

.book-image {
  max-width: 100%;
  max-height: 80%;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.book-title {
  line-height: 20vh;
  text-align: left;
  margin-left: 30px;
  font-weight: 800;
  font-size: x-large;
}

.info-content {
  margin-top: 1.5vh;
  float: left;
  font-size: max(0.85vw, 15px);
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .grey-bubble-container {
    margin-bottom: 10%;
  }
  .new-info-container,
  .total-info-container {
    display: none;
  }

  .book-image-container {
    width: 30%;
  }

  .book-title-container {
    width: 70%;
  }

}

@media screen and (max-width: 768px) {
  .welcome-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
}

@media screen and (max-height: 680px) {
  .grey-bubble-container {
    display: none;
  }
}
