.popular-cover-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: 4%;
  width: 10.5vw;
  height: auto;
  min-width: 150px;
}

.popular-text {
    margin-top: 2%;
    margin-left: 4%;
    margin-bottom: 0%;
    font-size: 3vh;
    font-weight: 600;
    color: #000000;
    font-family: "Libre Bonodi";
}

.popular-section-container {
    margin-left: 13%;
    margin-right: 10%;
}

/* User media query to make this page mobile friendly */
@media screen and (max-width: 768px) {
  .popular-cover-image {
    width: 70%;
    margin: 5%;
    margin-left: 13%;
    margin-bottom: 5%;
    min-width: 0px;
  }
}