.book-carousel-images-container {
    text-align: center;
}

.book-carousel-cover-image {
    width: 10vw;
    height: auto;
    display: inline-block;
    margin: 2%;
}

@media screen and (max-width: 768px) {
    .book-carousel-cover-image {
        width: 47vw;
        margin-bottom: 10px;
    }
}